<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</p>

<form method="post">
<p><center><table>
    <tr>
        <th>Remove</th>
        <th>Cheese</th>
        <th>Description</th>
    </tr>
    <tr th:each="cheese : ${cheeses}">
        <td><input type="checkbox" name="cheeseRemove" th:value="${cheese.key}"/></td>
        <td th:text="${cheese.key}">Key</td>
        <td th:text="${cheese.value}">Value</td>
    </tr>
    <tr>
        <td><input type="submit"/></td>
    </tr>

</table></center></p>
</form>

</body>
</html>